.hd {
  width: 100%;
  box-sizing: border-box;
  .title {
    line-height: 1.5;
    font-size: 36px;
    color: #000000;
  }
  .other {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    color: #666666;
  }
}
